@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color:#222222;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    transition: 0.3s;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
    background-color: #ffff;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding-right:50px;
}
/* ※ヘッダー */
body {
    background-color: #FFFF;
}

.background {
    z-index: 100;
}
.header_logo {
    width: 88px;
    padding-left:30px;
}

.pc_nav ul {
    display: none;
    margin:0,auto;
}
.pc_nav li {
    width: 100px;
    margin-left: 70px;
    text-align: center;
    font-size: 15px;
}
.pc_nav a{
    color: #222222;
}

.pc_nav li:hover {
    opacity:0.5;
}

.sp_nav {
    display: none;
}
.sp_btn {
    display: none;
}

.about{
     background: #FFF;
     padding-top: 50px;
    margin-bottom:50px;
     /* text-align: center; */
}

.about_class{
    padding:70px;
    max-width: 1100px;
    margin:0 auto;
}
.about_title_sub{
    padding-bottom: 30px;
    font-size: 30px;
    color:white;
}
.about_legal{
    font-size: 20px;
    line-height: 1.5em;
}
.about_main{
    margin: 0 auto;
}
.about_text{
    width: 100%;
}
.about_h3{
    font-size:30px;
    padding-bottom: 80px;
    color:white;
}
.about_main_text{
    font-size: 20px;
    color:white;
    line-height: 1.5em;
}

.size{
    max-width:80%;
    margin:0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
}
.tokusho{
    font-size: 12px;
    line-height: 2em;
}
.tokusho_main{
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

/* footer */
.footer{
    background-color:#4D4d4d;
}
.contact_width{
    padding-top:40px;
    padding-bottom:20px;
    background-color:#4D4d4d;
    text-align: center;
}
.footer_info{
    font-size: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
}